ul.paginate{
    margin:auto;
    padding: 0;
}

ul.paginate li{
    list-style-type: none;
    display: inline-block;
    border:1px solid #CCCCCC;
    padding: 5px;
    margin:2px
}
ul.paginate li.active{
    list-style-type: none;
    display: inline-block;
    border:1px solid #CCCCCC;
    background-color: #CCCCCC;
    padding: 5px;
}

.modal-content{
    padding:20px;
}
/*
.modal-dialog{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 10px;
}
.modal-content{
    padding:10px;
}
*/

.required{  
}

.required span{
    font-size: 8px;
    position:relative;
    top:-2px;
    color:red;  
}


.atributo{
    padding: 10px;
    border-bottom: 1px solid #DDD;
    margin:-1px 0px 0px 0px;
}

.modal .close{
    position:fixed;
    zoom:150%;
    z-index: 10;
    right:25px;
    top:25px;
}

.modal #debugpanel .close{
    position:static;
}


/* upload de summernote editor */
.note-group-select-from-files {
  display: none;
}

iframe{
    max-width: 100%;
    border:1px solid black;
}